
<!-- Testimonials section-->
<section class="py-5 border-bottom">
  <div id="contact-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-3">
          <h3 class="main-title fw-bolder border-warning border-bottom">Entre em contato</h3>
        </div>
        <div class="col-md-3 contact-box">
          <i class="fas fa-phone"></i>
          <div class="d-flex flex-column justify-content-center">
            <div class="p-1">
              <p><span class="text-warning">Telefones:</span></p>
            </div>
            <div class="p-1">
              <p><span class="p-1">(17) 99653-3490</span> <a href="https://bit.ly/3To6J6Y" target="_blank"><img src="../assets/whatsapp.svg" alt=""></a></p>
              <p><span>(17) 99198-9698</span><a href="https://bit.ly/3oZGg1D" target="_blank"><img src="../assets/whatsapp.svg" alt=""></a></p>
              <p><span>(34) 99994-4189</span><a href="https://bit.ly/3APhGqJ" target="_blank"><img src="../assets/whatsapp.svg" alt=""></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 contact-box">
          <i class="fas fa-envelope"></i>
          <p><span class="text-warning">Envie um e-mail:</span></p>
          <p>contato@alpeengenhariaurbana.com.br</p>
        </div>
        <div class="col-md-3 contact-box">
            <i class="fab fa-instagram"></i>
          <p><span class="text-warning">Instagram:</span></p>
          <p><a class="text-decoration-none" href="https://bit.ly/3oErTzo" target="_blank">@alpeengenhariaurbana</a></p>
        </div>
        <div class="col-md-3 contact-box">
          <i class="fas fa-calendar-check"></i>
          <p><span class="text-warning">Funcionamento:</span></p>
          <p>De Segunda-Feira à Sexta-Feira das 08h às 18h</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-5">
    <p class="m-0 text-center text-white">ALPE Engenharia Urbana &copy; 2022</p>
    <p class="m-0 text-center text-white"><span class="text-warning">Endereço:</span> R. Santa Paula, 2606 Sala 2 -
      Eldorado, São José do Rio Preto - SP,
      15043-320</p>
  </div>
</footer>
