
<!-- Testimonials section-->
<section class="py-5 border-bottom">
  <div id="contact-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-3">
          <h3 class="main-title fw-bolder border-warning border-bottom">Entre em contato</h3>
        </div>
        <div class="col-md-6 contact-box">
          <a href="https://chat.whatsapp.com/HdXZ7dQ7iHv6M6JBWvoHQq" target="_blank"><i class="fas fa-phone"></i></a>
          <p><span class="text-warning">Whatsapp:</span> (17) 99198-9698</p>
          <p><span class="text-warning">Funcionamento:</span>De Segunda-Feira à Sexta-Feira das 08h às 18h</p>
        </div>
        <div class="col-md-6 contact-box">
          <i class="fas fa-envelope"></i>
          <p><span class="text-warning">Envie um e-mail:</span> contato@alpeengenhariaurbana.com.br</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-5">
    <p class="m-0 text-center text-white">ALPE Engenharia Urbana &copy; 2022</p>
    <p class="m-0 text-center text-white"><span class="text-warning">Endereço:</span> R. Santa Paula, 2606 Sala 2 -
      Eldorado, São José do Rio Preto - SP,
      15043-320</p>
  </div>
</footer>
