<section class="bg-light border-bottom" id="servicos">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h2 class="fw-bolder border-warning border-bottom">Áreas de atuação</h2>
    </div>
    <div class="row gx-5 justify-content-center">
      <!-- Pricing card free-->
      <div class="col-lg-6 ">
        <div class="mb-5 mb-xl-0">
          <img src="assets/projeto-infra.jpeg" class="card-img-top" alt="...">
          <div class=" p-3">
            <div class="small text-uppercase fw-bold text-warning fs-5"><p class="text-warning">Projetos de infraestrutura urbana</p></div>
            <div class="mb-3">
              <span class="text-muted">A infraestrutura urbana é o conjunto de obras necessárias para o funcionamento de uma cidade, suas implantações são tão
              antigas quanto a evolução das cidades e continuam evoluindo com o passar dos anos para atender as necessidades da
              sociedade que está em constante transformação. A infraestrutura das cidades garante segurança, conforto, valorização e
              saúde a toda a sociedade.</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Pricing card pro-->
      <div class="col-lg-6 ">
        <div class="mb-5 mb-xl-0">
          <img src="assets/instalacao-prediais.jpeg" class="card-img-top" alt="...">
          <div class=" p-3">
            <div class="small text-uppercase fw-bold text-warning fs-5">
              <p class="text-warning">Projetos de instalações prediais</p>
            </div>
            <div class="mb-3">
              <span class="text-muted">As instalações prediais constituem subsistemas que devem ser integrados ao sistema construtivo proposto pela
              arquitetura, de forma harmônica, racional e tecnicamente correta.</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Pricing card enterprise-->
      <div class="col-lg-6 ">
        <div class="">
          <img src="assets/topografia.jpeg" class="card-img-top" alt="...">
          <div class=" p-3">
            <div class="small text-uppercase fw-bold text-warning fs-5">
              <p class="text-warning">Levantamento topográfico e regularização de área</p>
            </div>
            <div class="mb-3">
              <span class="text-muted">O levantamento topográfico tem a finalidade de determinar o contorno, dimensão e posição relativa de uma determinada
              área da superfície terrestre, descrevendo com exatidão todos os detalhes de um lugar representados em uma planta de
              topografia.</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Pricing card enterprise-->
      <div class="col-lg-6 ">
        <div class="">
          <img src="assets/aprovado.jpeg" class="card-img-top" alt="...">
          <div class=" p-3">
            <div class="small text-uppercase fw-bold text-warning fs-5">
              <p class="text-warning" >Regularizações, aprovações e registros de empreendimentos</p>
            </div>
            <div class="mb-3">
              <span class="text-muted">A regularização de imóveis baseia-se na adequação necessária para que um bem imóvel esteja completamente conforme a lei
              local, seja no que diz respeito à sua matrícula, à sua propriedade, à sua posse, à sua construção ou a questões
              documentais diversas.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
