<div class="container d-flex flex-column">

  <div class="p-4">
    <h2 class="text-warning ">Quem somos</h2>

    <p class="">
      Fundada em 2015, a ALPE ENGENHARIA URBANA é uma empresa especializada na elaboração de projetos e processos, conta com
      um corpo técnico experiente e multidisciplinar que possibilita uma visão geral do todo garantindo aos seus clientes
      soluções inteligentes aos negócios imobiliários. Levantamentos topográficos, regularização de área, loteamento,
      incorporação, regularizações de imóveis e acompanhamentos junto a órgãos públicos são algumas das principais áreas de
      atuação da empresa.
    </p>
  </div>

  <div class="p-4">
    <h4 class="text-warning text-center">Missão</h4>
    <p class="text-center">
      Proporcionar aos clientes a melhor experiência em desenvolvimento de projetos e soluções para os seus negócios
      imobiliários. Garantindo sempre preço o justo, atendimento personalizado e aumentando a rentabilidade dos
      empreendimentos com projetos tecnicamente e economicamente viáveis.
    </p>
  </div>
  <div class="p-4">
    <h4 class="text-warning text-center">
      Visão
    </h4>
    <p class="text-center">
      Ser referência em soluções imobiliárias, oferecendo projetos economicamente viáveis, soluções inteligentes,
      respeitando o meio ambiente e o conforto dos clientes finais.
    </p>
  </div>
  <div class="p-4">
    <h4 class="text-warning text-center">
      Valores
    </h4>
    <p class="text-center">
      Compromisso com o cliente, transparência, agilidade nos processos e preservação dos recursos naturais.
    </p>
  </div>

</div>
