<ng-container *ngIf="exibir == 'infraestrutura'">
    <div>
        <div class="small text-uppercase fw-bold text-warning fs-5">
            <p class="text-warning">Projetos de infraestrutura urbana</p>
        </div>
        <p class="text-muted">
            Os projetos de infraestrutura urbana são desenvolvidos por equipe multidisciplinar com experiência nos
            diversos
            seguimentos, passando pelas fases de estudo, viabilidade, concepção, aprovação e implantação. São
            desenvolvidos com
            auxílio de softwares de última geração, possibilitando a compatibilização entre disciplinas e garantindo a
            sua
            qualidade.
        </p>
        <p class="text-muted">Os principais projetos desenvolvidos são:</p>
        <ul class="text-muted">
            <li>Acessibilidade;</li>
            <li>Drenagem de águas pluviais;</li>
            <li>Pavimentação;</li>
            <li>Projetos complementares;</li>
            <li>Sinalização horizontal e vertical;</li>
            <li>Sistema de abastecimento de água potável;</li>
            <li>Sistema de esgotamento sanitário;</li>
            <li>Terraplenagem;</li>

        </ul>
    </div>
</ng-container>
<ng-container *ngIf="exibir == 'instalacoes'">
    <div class="small text-uppercase fw-bold text-warning fs-5">
        <p class="text-warning">Projetos de instalações prediais</p>
    </div>
    <p class="text-muted">
        Os projetos das instalações prediais são desenvolvidos por equipe multidisciplinar com experiência nos diversos
        seguimentos, passando pelas fases de estudo, viabilidade, concepção, aprovação e implantação. São desenvolvidos
        com
        auxílio de softwares de última geração, possibilitando a compatibilização entre as disciplinas, garantindo a sua
        qualidade
    </p>
    <p class="text-muted">
        Os principais projetos desenvolvidos são:
    </p>
    <ul class="text-muted">
        <li>Instalações de água potável fria e quente</li>
        <li>Instalações de esgotos sanitários</li>
        <li>Instalações de drenagem predial</li>
        <li>Instalações de drenagem predial</li>
        <li>Instalações de prevenção e combate a incêndios</li>
    </ul>
</ng-container>
<ng-container *ngIf="exibir == 'topografia'">
<div class="small text-uppercase fw-bold text-warning fs-5">
    <p class="text-warning">Levantamento topográfico e regularização de área</p>
</div>
<p class="text-muted">
    Os principais projetos desenvolvidos são:
</p>
<ul class="text-muted">
    <li>Desmembramento de área</li>
    <li>Levantamentos planimétricos</li>
    <li>Levantamentos planialtimétricos cadastrais georreferenciados</li>
    <li>Retificação de área</li>
    <li>Servidão de passagem</li>
    <li>Unificação de área</li>
</ul>
</ng-container>
<ng-container *ngIf="exibir == 'empreendimento'">
    <div class="small text-uppercase fw-bold text-warning fs-5">
        <p class="text-warning">Regularizações, aprovações e registros de empreendimentos</p>
    </div>
    <p class="text-muted">
        As principais atividades desenvolvidas são:
    </p>
<div class="row">
        <div class="col-md-6">
            <span class="text-muted">
                Cartório de registro de imóveis
            </span>
            <ul class="text-muted">
                <li>Aprovações</li>
                <li>Viabilidades</li>
            </ul>
        </div>
        <div class="col-md-6">
            <span class="text-muted">
                GRAPROHAB
            </span>
            <ul class="text-muted">
                <li>Análise e aprovação de projetos</li>
                <li>Dispensa de análises</li>
            </ul>
        </div>
        <div class="col-md-6">
            <span class="text-muted">
                INCRA
            </span>
            <ul class="text-muted">
                <li>Atualizações</li>
                <li>CCIR</li>
                <li>Declarações de ITR</li>
                <li>Descaracterização de imóvel rural</li>
            </ul>
        </div>
        <div class="col-md-6">
            <span class="text-muted">
                INCRA
            </span>
            <ul class="text-muted">
                <li>Atualizações</li>
                <li>CCIR</li>
                <li>Declarações de ITR</li>
                <li>Descaracterização de imóvel rural</li>
            </ul>
        </div>
        <div class="col-md-6">
            <span class="text-muted">
                Prefeitura Municipal
            </span>
            <ul class="text-muted">
                <li>Alvarás</li>
                <li>Aprovações de empreendimentos</li>
                <li>Aprovações de projetos complementares</li>
                <li>Descaracterização de imóvel rural</li>
                <li>Diretriz</li>
                <li>Atualizações cadastrais</li>
            </ul>
        </div>
</div>
</ng-container>