<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2"><span class="text-uppercase">ALPE ENGENHARIA URBANA</span></h1>
          <p class="lead text-white-50 mb-4">Soluções inteligentes para o seu empreendimento!</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-warning btn-lg px-4 me-sm-3">Serviços</a>
            <!-- <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="bg-light py-5 border-bottom" id="servicos">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h2 class="fw-bolder border-warning border-bottom">Áreas de atuação</h2>
    </div>
    <div class="row gx-5 justify-content-center">
      <!-- Pricing card free-->
      <div class="col-lg-6 col-xl-4">
        <div class="mb-5 mb-xl-0">
          <img src="assets/terraplanagem.png" class="card-img-top" alt="...">
          <div class=" p-3">
            <div class="small text-uppercase fw-bold text-warning fs-5"><a routerLink="../servicos/terraplanagem">Terraplanagem</a></div>
            <div class="mb-3">
              <span class="text-muted">A terraplanagem é o ponto de partida de qualquer construção. Ela é responsável
                por preparar o solo para receber a parte estrutural da obra, para que tudo saia conforme o
                planejado.</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Pricing card pro-->
      <div class="col-lg-6 col-xl-4">
        <div class="mb-5 mb-xl-0">
          <img src="assets/drenagem.png" class="card-img-top" alt="...">
          <div class=" p-3">
            <div class="small text-uppercase fw-bold text-warning fs-5">
              <a routerLink="../servicos/drenagem">Drenagem</a>
            </div>
            <div class="mb-3">
              <span class="text-muted">Projeto de drenagem consiste em criar redes para escoar as águas da chuva em um
                terreno. Podem ser feitos com tubos, com canais, valas, fossos ou túneis. Todos possuem a função de
                retirar o excesso de água presente na área e tornar o solo o mais aproveitável possível.</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Pricing card enterprise-->
      <div class="col-lg-6 col-xl-4">
        <div class="">
          <img src="assets/consultoria.png" class="card-img-top" alt="...">
          <div class=" p-3">
            <div class="small text-uppercase fw-bold text-warning fs-5">
              <a routerLink="../servicos/consultoria">Consultoria</a>
            </div>
            <div class="mb-3">
              <span class="text-muted">Atende clientes públicos e privados de maneiras que vão desde consultas breves
                até o projeto completo e a coordenação de um projeto.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
