<!-- section-->
<section class="py-5 d-flex justify-content-center align-items-center imagem altura-banner">
  <div class="container px-5">
    <div class="row gx-5">
      <div class="col-lg-12 ">
        <div class="text-center">
          <h1 class="display-5 fw-bolder text-dark mb-2"><span class="text-uppercase">ALPE ENGENHARIA URBANA</span></h1>
          <p class="lead text-dark fw-bold mb-4">Soluções inteligentes para o seu empreendimento!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-area-atuacao></app-area-atuacao>

